<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootsrap y dataTables -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css" />
    <!-- Para los botones -->
    <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <!-- Diseño responsive-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.dataTables.min.css" />

    <!-- Estilo propio -->
    <link rel="stylesheet" href="/css/table_users.css">
</head>

<body>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">Usuarios</h3>
            <a title="Agregar" href="/registry" class="btn btn-light" id="addUserButton">
                <img src="/images/add_user_icon.png" class="icon"> <span>Agregar</span>
            </a>

        </div>
        <div class="card-body">
            <div id="wrapper_users" class="dataTables_wrapper dt-bootstrap5">
                <!-- Sección Botones y Buscador-->

                <!-- /Sección Botones-->

                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table id="table_users" class="table table-hover display nowrap">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>DNI</th>
                                        <th>Dirección</th>
                                        <th>Estado</th>
                                        <th>Persona</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr> -->
                                        <!-- <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                        <td>
                                            <div class="btn-group">
                                                <a title="Ver detalles" href="#" class="btn btn-light" id="viewUserButton">
                                                    <img src="/images/info_icon.png" class="icon">
                                                </a>
                                                <a title="Editar" href="#" class="btn btn-light" id="editUserButton">
                                                    <img src="/images/edit_icon.png" class="icon">
                                                </a>
                                                <a title="Eliminar" href="#" class="btn btn-light" id="deleteUserButton">
                                                    <img src="/images/delete_icon.png" class="icon">
                                                </a>
                                            </div>
                                        </td> -->
                                    <!-- </tr> -->
                                </tbody>
                                <!-- <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>DNI</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Contenedor para los modales -->
    <div id="modal-container"></div>

    <!-- scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.bootstrap5.js"></script>

    <!-- Scrpts para el manejo de botones y funcionalidades-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <!-- Para el botón de imprimir-->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    <!-- Diseño Responsive-->
    <script src="https://cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.min.js"></script>

    <!-- SweetAlert js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Archivo JS propio-->
    <!-- <script src="/js/table_users.js"></script> -->
    <script src="/js/home.js"></script>

</body>

</html>